*{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    background-color: black;
    color: white;
}
div ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
div ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.foto img {
    border-radius: 50%;
    width: 200px;
    max-width: 50%;
    border: 2px solid white;
}